* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: royalblue;
    color: white;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.header {
    background-color: white;
    padding: 1.5rem 2.5rem;

    display: grid;
    gap: 1.25rem;
}

.header-top,
.header-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1.5rem;
}

.search,
.user,
.greeting,
.actions {
    border: 1px solid black;
}

.main-content {
    background-color: lightblue
}