* {
    box-sizing: border-box;
    margin: 0;
}

h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: royalblue;
    color: white;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    margin-left: 0.75rem;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 0.75rem;

    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar .nav a:hover {
    color: gold;
}

.sidebar .nav a {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 1rem;

    font-size: 1.1rem;
    font-weight: 500;
}

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    display: block;
}

.logo .icon {
    width: 40px;
    height: 40px;
}

.header .icon {
    width: 24px;
    height: 24px;
}

.header {
    background-color: white;
    padding: 1rem 3.25rem 1.25rem 3.25rem;

    display: grid;
    gap: 1.75rem;

    font-size: 0.9rem;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.header-top,
.header-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.search {
    width: 70%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.75rem;
}

.search input {
    width: 100%;

    border: none;
    border-radius: 1rem;
    background-color: lightblue;
    padding: 0.5rem 0.75rem;
}

.profile-image {
    flex-shrink: 0;
}

.profile-image.small {
    width: 36px;
    height: 36px;
}

.icon-button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: inherit;
}

.profile-image.large {
    width: 55px;
    height: 55px;
}

.user {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-right: 1rem;
}

.username {
    font-size: 1rem;
    font-weight: 600;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.actions button {
    border: none;
    border-radius: 3em;
    padding: 0.8em 1.9em;

    background-color: royalblue;
    color: white;
    font-weight: 600;
}

.greeting {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.1rem;
    align-items: center;
}

.greeting-text {
    display: grid;
    gap: 0.2rem;
    font-weight: 600;
}

.greeting-sub {
    font-size: 0.75rem;
}

.greeting-main {
    font-size: 1.25rem;
}

.main-content {
    background-color: lightblue;
    padding: 1.75rem;

    display: grid;
    grid-template-columns: minmax(320px, 1fr) 280px;
    gap: 2rem;
}

.side-panels {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
}

.project-card {
    position: relative;
    overflow: hidden;

    padding: 1.75rem 1.5rem 1.25rem 2rem;

    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: gold;
}

.project-card p {
    font-size: 0.85em;
    color: dimgray;
    margin-bottom: 2rem;
}

.card-actions {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.card-actions .icon-button {
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
}

.panel {
    background: white;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    padding: 1.5em;
}

.announcement h3 {
    font-size: 0.8rem;
}

.announcement p {
    margin: 0.3rem 0;
    font-size: 0.7rem;
    color: dimgray;
}

.announcement + .announcement {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
    padding-top: 1rem;
}

.trending-list {
    list-style: none;
    display: grid;
    padding: 0;
    gap: 1.25rem;
}

.trending-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.75rem;
    align-items: center;
}

.trending-item p:last-child {
    margin-top: 0.2rem;
}

.handle {
    font-size: 0.85rem;
    font-weight: 500;
}

.project-name {
    font-size: 0.75rem;
    color: dimgray;
}