* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: royalblue;
    color: white;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    gap: 1rem;

    font-size: 1.5rem;
}

.sidebar .nav a {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 0.75rem;
}

.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    display: block;
}

.logo .icon {
    width: 36px;
    height: 36px;
}

.header .icon {
    width: 24px;
    height: 25px;
}

.header {
    background-color: white;
    padding: 1.5rem 2rem;

    display: grid;
    gap: 2rem;

    font-size: 0.9rem;
}

.header-top,
.header-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1.5rem;
}

.search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.75rem;
}

.search input {
    width: 80%;

    border: none;
    border-radius: 1rem;
    background-color: lightblue;
    padding: 0.5rem 0.75rem;
}

.profile-image {
    background-color: royalblue;
    border-radius: 50%;
    flex-shrink: 0;
}

.profile-image.small {
    width: 30px;
    height: 30px;
}

.icon-button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: inherit;
}

.profile-image.large {
    width: 50px;
    height: 50px;
}

.user {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.actions button {
    border: none;
    border-radius: 3em;
    padding: 0.8em 1.9em;

    background-color: royalblue;
    color: white;
    font-weight: 600;
}

.greeting {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    row-gap: 0.25rem;
    align-items: center;
}

.greeting .profile-image {
    grid-row: 1 / 3;
}

.greeting-sub,
.greeting-main {
    margin: 0;
}

.greeting-main {
    font-size: 1.1rem;
    font-weight: 600;
}

.main-content {
    background-color: lightblue;
    padding: 2rem;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}

.projects {
    grid-row: 1 / 3;
}

.projects,
.announcements,
.trending {
    background-color: white;
}