* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: royalblue;
}

.header {
    background-color: white;
}

.main-content {
    background-color: lightblue
}