*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: min(1100px, 100% - 2rem);
    margin: 0 auto;
}

.site-header,
.contact {
    padding: 2rem 0;
}

.work {
    padding: 3rem 0;
}

.project-shot {
    background-color:thistle;
    padding: 3rem 1rem;
    text-align: center;
}