@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.top-header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 250px;
}

.brand-logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    flex-shrink: 0;
}

.nav-links {
    display: flex;
    gap: 36px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    list-style: none;
    flex-shrink: 0;
}

.nav-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-banner {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 250px 100px 250px;
    gap: 50px;
}

.hero-content {
    width: 460px;
    min-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-desc {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hero-img {
    width: 460px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.info-block {
    padding: 10px 0 100px 0;
    text-align: center;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px 0;
}

.card-list {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.info-card {
    width: 150px;
}

.card-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card-text {
    font-size: 16px;
    margin-top: 12px;
    color: #1F2937;
}

.quote-block {
    background-color: #E5E7EB;
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    max-width: 800px;
    margin: 0;
}

.quote-author {
    font-size: 22px;
    font-weight: 600;
    text-align: right;
    margin: 0; 
}

.cta-block{
    background-color: #3882F6;
    width: 800px;
    margin: 100px auto;
    padding: 50px 150px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-title {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.cta-desc {
    font-size: 18px;
    color: #F9FAF8;
    margin: 6px 0 0;
}

.primary-btn, .secondary-btn {
    padding: 12px 32px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.primary-btn {
    background-color: #3882F6;
    color: white;
    border: none;
}

.secondary-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.page-footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: auto;
}