@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p {
    overflow-wrap: break-word;
    text-wrap: pretty;
}

.sidebar {
    width: 30%;
    min-height: 100vh;

    background-image: url("https://images.unsplash.com/photo-1528155124528-06c125d81e89");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;

    color: white;
}

.sidebar a {
    color: white;
}

.back-link {
    align-self: flex-start;
    font-size: small;
    padding: .5rem;
}

.logo {
    position: absolute;
    top: 20%;
    width: 100%;
}

.logo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    gap: 1rem;
    
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.55);
}

.logo img {
    height: 4em;
    width: auto;
}

.logo span {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
}

.credit {
    padding-bottom: 1rem;
    font-size: clamp(0.5rem, 1vw, 0.75rem);
}