* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    margin: 16px;
    color: darkred;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

img {
    width: 100%;
    height: auto;
}

.recipe-card.feature {
    border: 4px solid darkred;
}

.recipe-card {
    background-color: floralwhite;
    width: 90%;
    max-width: 450px;
    margin: auto;
}

.recipe-content {
    padding: 0px 16px 16px 16px;
}

h1 {
    font-size: 40px;
    color: darkred;
}

h2 {
    font-size: 20px;
    color: darkolivegreen;
    margin: 12px 0 4px 0;
}

ul, ol {
    font-size: 14px;
    padding-left: 20px;
}