#resize-button {
    display: block;
    margin: 1rem auto;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 70vh;
    height: 70vh;
    margin: 0 auto;
    border: 1px solid black;
}

.grid-square {
    aspect-ratio: 1;
    border: .1px solid black;
    box-sizing: border-box;
}