* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 3vh;
}

.calculator {
    width: auto;
    background: rgb(33, 31, 32);
    border-radius: 10px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.display {
    width: auto;
    height: 8vh;
    background: rgb(110, 109, 109);
    font-size: 4.5vh;
    color: rgb(222, 222, 222);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2vh;
    border-radius: 5px;
}

.menu, .numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    width: 100%;
}

.numbers button:last-child {
    order: 99;
    margin: 0 auto;
}

.buttons {
    display: flex;
    gap: 1vh;
    width: auto;
}

.left-side {
    width: calc(7vh * 3 + 1vh * 2);
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

.operators {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

button {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    border: none;
    background: rgb(73, 73, 73);
    font-size: 3vh;
    line-height: 1;
    color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu button {
    background: rgb(116, 116, 116);
}

.operators button {
    background: rgb(255, 146, 0);
    padding: 0 .2vh .6vh 0;
}

button:active {
    opacity: 0.5;
}